/.idea
/.vscode
/__pycache__
.DS_Store
backend/auth/node_modules
backend/auth/package-lock.json
backend/core/node_modules
backend/core/package-lock.json
backend/data
backend/extra/node_modules
backend/extra/package-lock.json
web/node_modules
web/package-lock.json

web/frontend/node_modules
web/frontend/.pnp
web/frontend/.pnp.js
web/frontend/coverage
web/frontend/build
web/frontend/.DS_Store
web/frontend/.env.local
web/frontend/.env.development.local
web/frontend/.env.test.local
web/frontend/.env.production.local
web/frontend/npm-debug.log*
web/frontend/yarn-debug.log*
web/frontend/yarn-error.log*
web/frontend/yarn.lock
web/frontend/package-lock.json
