.forgot-password-form form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.forgot-password-form  label {
    margin: 5px;
}

.forgot-password-form  input {
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%), 0px 3px 5px -1px rgb(0 0 0 / 20%);
    border: none;
    margin: auto;
    padding-left: 5px;
}

.forgot-password-form .forgot-button {
    font-size: 14px;
    margin-top: 10px;
    color: #727272;
    background-color: inherit;
    border: none;
}

.forgot-password-form .forgot-button:hover {
    color: #272727;
}

.forgot-password-form  button {
    margin-top: 30px;
}

.validation-message {
    padding-bottom: 5px;
    color: #ff0000;
}

.newfile-form form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-selector label {
    cursor: pointer
}

#file-upload {
    display: none;
}

.newfile-form button {
    margin-top: 250px;
}

.main-selector {
    width: 120px;
    height: 30px;
    color: white;
    background-color: #272727;
    border-radius: 5px;
    border: none;
    font-size: large;
    text-align: center;
}

.main-selector:hover {
    box-shadow: 0px 15px 20px rgba(82, 82, 82, 0.4);
}

.main-selector:active {
    /* background-color: #8f8f8f; */
    box-shadow: 0px 15px 20px rgba(82, 82, 82, 0.4);
    /* color: #fff; */
    transform: translateY(2px);
}

.file-preview {
    text-align: center;
    margin: 10px;
}

.signin-form form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signin-form label {
    margin: 10px;
}

.signin-form input {
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%), 0px 3px 5px -1px rgb(0 0 0 / 20%);
    border: none;
    margin: auto;
    padding-left: 5px;
}

.signin-form button {
    margin-top: 60px;
}

.signin-form .forgot-button {
    font-size: 14px;
    margin-top: 15px;
    color: #727272;
    background-color: inherit;
    border: none;
}

.signin-form .forgot-button:hover {
    color: #272727;
}

.signin-form .forgot-button:active {
    color: #727272;
    font-size: 14px;
}

.signup-form form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.signup-form label {
    margin: 2px;
}

.signup-form input {
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%), 0px 3px 5px -1px rgb(0 0 0 / 20%);
    border: none;
    margin: auto;
}

.signup-form button {
    margin-top: 20px;
}