.file-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 50px;
}

@media (max-width: 600px) {
    .file-container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        margin: 50px;
    }
}

.file-view {
    margin: 50px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 5px;
    background-color: #1E1E1E;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    height: 70px;

    /* color: #FFFFFF; */

    /* border: 1px solid #000000; */
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.default-buttons {
    margin-right: 40px;
    align-self: center;
}

.default-buttons button:hover {
    background-color: white;
    color: #1E1E1E;
}

.profile-buttons {
    display: flex;
    margin-right: 40px;
    align-self: center;
}

.profile-buttons .main-button:hover {
    background-color: white;
    color: #1E1E1E;
}

.header label {
    color: white;
    margin-left: 25px;
    align-self: center;
    font-size: xx-large;
}

.header .search-field {
    align-self: center;
}

.results-list {
}


