.add-button {
    /* padding: 15px 15px; */
    font-size: 46px;
    color: #1E1E1E;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%), 0px 3px 5px -1px rgb(0 0 0 / 20%);
    border: 1px solid transparent;
    position: fixed;
    bottom: 5%;
    right: 5%;
    margin: 0;
    width: 56px;
    height: 56px;
}

.add-button:hover {
    background-color: #fdfdfd;
    transform: scale(0.99);
}


.main-button {
    width: 120px;
    height: 30px;
    color: white;
    background-color: #1E1E1E;
    border-radius: 5px;
    border: none;
    font-size: large;
    transition: background-color 0.2s ease;
}

.main-button:hover {
    box-shadow: 0px 15px 20px rgba(82, 82, 82, 0.4);
}

.main-button:active {
    /* background-color: #8f8f8f; */
    box-shadow: 0px 15px 20px rgba(82, 82, 82, 0.4);
    /* color: #fff; */
    transform: translateY(2px);
}

.file-wrapper {
    width: 200px;
    height: 300px;
    background-color: white;
    top: 15%;
    left: 35%;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%), 0px 3px 5px -1px rgb(0 0 0 / 20%);
}

.file-minified {
    height: 60%;
}

.file-minified .icon-button button{
    margin-top: 50px;
    margin-left: 145px;
}

.file-header {
    justify-self: flex-start;
    height: 15%;
    width: auto;
}

.file-header .icon-button{
    align-self: last baseline;
}

.file-name {
    word-wrap: break-word;
}

.file-footer {
    display: flex;
    justify-content: space-between;
    height: 25%;
    /* width: auto; */
    background-color: white;
    border-top: 1px solid gray;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: x-large;
}

.file-details {
    margin: 10px 5px;
    color: #1E1E1E;
    font-size: 10px;
}

.file-details p {
    margin: 2px;
    text-align: justify;
    text-overflow: clip;
}

.file-control {
    margin-top: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}

.form-wrapper {
    position: fixed;
    width: 400px;
    height: 500px;
    background-color: white;
    top: 15%;
    left: 35%;
    border-radius: 5px;
    box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%), 0px 3px 5px -1px rgb(0 0 0 / 20%);
}

.form-header {
    justify-self: flex-start;
    height: 10%;
    background-color: #1E1E1E;
    border-radius: 5px;
    color: white;
    padding-top: 15px;
    text-align: center;
    font-size: x-large;
}

.icon-button button {
    background-color: inherit;
    /* margin: 5px; */
    border: none;
}

.icon-button button:active {
    /* background-color: #8f8f8f; */
    /* box-shadow: 0px 15px 20px rgba(82, 82, 82, 0.4); */
    /* color: #fff; */
    transform: translateY(1px);
}

.profile {
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.search-field {
    display: block;
}

.search-field input{
    font-size: medium;
    font-family: 'Inter';
    width: 500px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%), 0px 3px 5px -1px rgb(0 0 0 / 20%);
    border: none;
    padding-left: 10px;
}

.search-wrapper {
    margin-right: 40px;
    align-self: center;
    display: flex;
    flex-direction: row;
}

.search-wrapper button:hover {
    background-color: white;
    color: #1E1E1E;
}

.file-results {
    width: 512px;
    height:fit-content;
    background-color: white;
    box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%), 0px 3px 5px -1px rgb(0 0 0 / 20%);
    position: absolute;
}

.show-all-wrapper {
    align-items: center;
    margin: 5px 5px 15px 20px;
}

.show-all-wrapper button {
    border: none;
    margin: none;
    color: gray;
    background-color: white;
}

.result {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.result button {
    border: none;
    width:fit-content;
    background-color: white;
    pointer-events: none;
}

.result-file-name button {
    font-size: medium;
    font-weight: 300;
    color: black;
    margin: 5px 0px 0px 15px;
    pointer-events: none;
}

.result-uploader-name button {
    font-size: medium;
    font-weight: 100;
    color: gray;
    margin: 0px 30px 0px 0px;
    padding-top: 5px;
    pointer-events: none;
}


.text-button {
    width: 120px;
    height: 30px;
    color: white;
    background-color: #2B2B2B;
    border: none;
    font-size: large;
}

.side-menu button:hover {
    color: black;
    font-size: larger;
}

.side-menu button:active {
    color: #727272;
    font-size: large;
}